/* Réinitialisation des styles de base */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Style pour le contenu principal */
#app-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px; /* Ajuster selon vos besoins */
}

/* Style pour les éléments à l'intérieur de #app-body */
#app-body label {
    margin-bottom: 10px;
}

#app-body input,
#app-body select,
#app-body button {
    margin-bottom: 20px;
}
