/* Utiliser Flexbox pour afficher les éléments en colonne */
#app-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
}

/* Styles pour input groups */
.input-group {
    display: flex;
    flex-direction: column; /* Afficher les éléments en colonne */
    margin-bottom: 15px; /* Ajoute de l'espace entre les groupes d'éléments */
}

.input-group label {
    font-weight: bold; /* Rend les étiquettes en gras */
    margin-bottom: 5px; /* Espacement entre le label et le select */
}

.input-group input,
.input-group select {
    padding: 8px; /* Ajoute un peu de rembourrage aux champs de saisie */
    box-sizing: border-box; /* Inclut la largeur du padding et de la bordure dans la largeur totale */
}

/* Styles spécifiques pour le bouton "Add Urgency" */
#addUrgencyBtn {
    padding: 10px 20px; /* Rembourrage */
    border: none; /* Supprime la bordure */
    border-radius: 4px; /* Ajoute un peu de bord arrondi */
    background-color: #0078d7; /* Couleur de fond */
    color: white; /* Couleur du texte */
    cursor: pointer; /* Curseur de souris */
}

#addUrgencyBtn:hover {
    background-color: #005a9e; /* Changement de couleur de fond au survol */
}
